{% trans_default_domain "BezSupportBundle" %}
{% block bez_support_content %}
    <h2>{{ ticket.subject }}</h2>
    <em>{{ ticket.author.name }} wrote:</em>
    <blockquote>
        {{ ticket.body }}
    </blockquote>
    <div>
        <a href="{{ path('bez_support_new_comment', {ticket: ticket.referenceCode}) }}">Add comment</a>
    </div>
    <h4>
        {{ "Comments"|trans }}
    </h4>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.body }}</li>
        {% endfor %}
    </ul>
{% endblock  %}
